<?xml version="1.0"?>

<config>
    <modules>
        <Tim_Crm>
            <version>0.1.1</version>
        </Tim_Crm>
    </modules>
    <crontab>
        <jobs>
            <tim_crm>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>crm/cron::run</model>
                </run>
            </tim_crm>
        </jobs>
    </crontab>
    <default>
        <tim_crm>
            <urls>
                <live_price_list_url>http://192.168.1.34:1200/CennikB24.csv</live_price_list_url>
                <live_crm_url>http://192.168.205.31</live_crm_url>
                <live_uri_getcustomerinfo>CRM_WS/A_CompanyB24.svc?wsdl</live_uri_getcustomerinfo>
                <live_action_getcustomerinfo>GetCompanyB24</live_action_getcustomerinfo>
                <live_uri_pushcustomerinfo>CRM_WS/A_AddCompanyB24.svc?wsdl</live_uri_pushcustomerinfo>
                <live_action_pushcustomerinfo>AddCompanyB24</live_action_pushcustomerinfo>
                <live_uri_sendorder>CRM_WS/A_SyncCartB24.svc?wsdl</live_uri_sendorder>
                <live_action_sendorder>SyncCartB24</live_action_sendorder>
            </urls>
            <suffix>
                <live_suffix>01</live_suffix>
                <stage_suffix>02</stage_suffix>
                <test_suffix>03</test_suffix>
                <dev_suffix>04</dev_suffix>
            </suffix>
        </tim_crm>
    </default>
    <global>
        <helpers>
            <crm>
                <class>Tim_Crm_Helper</class>
            </crm>
        </helpers>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Tim_Crm_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                    <customer_edit_tab_orders>Tim_Crm_Block_Adminhtml_Customer_Edit_Tab_Orders</customer_edit_tab_orders>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <crm>
                <class>Tim_Crm_Model</class>
            </crm>
        </models>
        <resources>
            <tim_crm_setup>
                <setup>
                    <module>Tim_Crm</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>              
            </tim_crm_setup>           
        </resources> 
        <template>
            <email>
                <bankaccount_number_template module="tim_crm">
                    <label>Bank Account Number</label>
                    <file>bankaccount_number.html</file>
                    <type>html</type>
                </bankaccount_number_template>
                <crm_error_notification_template module="tim_crm">
                    <label>Crm Error Service Notification</label>
                    <file>crm_error_notification.html</file>
                    <type>html</type>
                </crm_error_notification_template>
            </email>
        </template>       
     </global>
     <frontend>
        <events>
            <sales_order_place_after>
                <observers>
                  <tim_crm>
                    <type>singleton</type>
                    <class>crm/observer</class>
                    <method>updateOrder</method>
                  </tim_crm>
                </observers>
            </sales_order_place_after>
        </events>
     </frontend>
     <admin>
        <routers>
            <crm_admin>
                <use>admin</use>
                <args>
                    <module>Tim_Crm</module>
                    <frontName>crm_admin</frontName>
                </args>
            </crm_admin>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <tim_crm>
                                            <title>Tim Crm Module Section</title>
                                        </tim_crm>
                                    </children>
                                </config>
                            </children>    
                        </system>
                        <cms>
                            <children>
                                <tim_crm translate="title">
                                    <title>Crm</title>
                                    <sort_order>60</sort_order>
                                </tim_crm>
                            </children>
                        </cms>                        
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <crm>
                    <file>tim/crm.xml</file>
                </crm>
            </updates>
        </layout>
        <menu>
            <cms>
                <children>
                    <tim_crm translate="title" module="crm">
                        <title>Crm Test</title>
                        <action>crm_admin/adminhtml_manual</action>
                        <sort_order>60</sort_order>
                    </tim_crm>
                </children>
            </cms>
        </menu>
    </adminhtml>
</config>