<?xml version="1.0"?>
<!--
/**
 * Tim
 *
 * @category   Tim
 * @package    Tim_Tauron
 * @copyright  Copyright (c) 2015 Tim (http://tim.pl)
 * @author     Vladislav Verbitskiy <vladomsu@gmail.com>
 */
-->
<config>
    <modules>
        <Tim_Tauron>
            <version>0.0.1</version>
        </Tim_Tauron>
    </modules>
    <global>
        <resources>
            <tim_tauron_setup>
                <setup>
                    <module>Tim_Tauron</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tim_tauron_setup>
            <tim_tauron_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tim_tauron_write>
            <tim_tauron_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tim_tauron_read>
        </resources>
        <blocks>
            <tim_tauron><class>Tim_Tauron_Block</class></tim_tauron>
            <bundle>
                <rewrite>
                    <checkout_cart_item_renderer>Tim_Tauron_Block_Checkout_Cart_Item_Renderer</checkout_cart_item_renderer>
                </rewrite>
            </bundle>
        </blocks>
        <helpers>
            <tim_tauron>
                <class>Tim_Tauron_Helper</class>
            </tim_tauron>
        </helpers>
        <models>
            <tim_tauron>
                <class>Tim_Tauron_Model</class>
            </tim_tauron>
            <sales>
                <rewrite>
                    <order>Tim_Tauron_Model_Order</order>
                </rewrite>
            </sales>
        </models>
        <template>
            <email>
                <sales_email_order_przelewy24_template translate="label" module="sales">
                    <label>New Order</label>
                    <file>sales/order_new_przelewy24.html</file>
                    <type>html</type>
                </sales_email_order_przelewy24_template>
                <sales_email_order_banktransfer_template translate="label" module="sales">
                    <label>New Order</label>
                    <file>sales/order_new_bank_transfer.html</file>
                    <type>html</type>
                </sales_email_order_banktransfer_template>
                <sales_email_order_ccsave_template translate="label" module="sales">
                    <label>New Order</label>
                    <file>sales/order_new_cc.html</file>
                    <type>html</type>
                </sales_email_order_ccsave_template>
            </email>
        </template>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <tim_test>
                        <type>singleton</type>
                        <class>tim_tauron/observer</class>
                        <method>sendOrderId</method>
                    </tim_test>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
    </global>
    <frontend>
        <routers>
            <tim_tauron>
                <use>standard</use>
                <args>
                    <module>Tim_Tauron</module>
                    <frontName>tim_tauron</frontName>
                </args>
            </tim_tauron>
        </routers>
    </frontend>
</config>