<?xml version="1.0"?>
<!--
/**
 * Tim
 *
 * @category   Tim
 * @package    Tim_Tauron
 * @copyright  Copyright (c) 2015 Tim (http://tim.pl)
 * @author     Vladislav Verbitskiy <vladomsu@gmail.com>
 */
-->
<config>
    <tabs>
        <tim_tab translate="label" module="tim_tauron">
            <label>TIM SA</label>
            <sort_order>100500</sort_order>
        </tim_tab>
    </tabs>
    <sections>
        <tim_salt translate="label">
            <label>Salt</label>
            <tab>tim_tab</tab>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <tim_salt_group translate="label">
                    <label>Salt</label>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <salt translate="label">
                            <label>Salt</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </salt>
                    </fields>
                </tim_salt_group>
            </groups>
        </tim_salt>
        <tim_complaint translate="label">
            <label>Complaint</label>
            <tab>tim_tab</tab>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <tim_complaint_group translate="label">
                    <label>Complaint</label>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <complaint translate="label comment">
                            <label>Complaint email(s)</label>
                            <comment>Comma separated</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </complaint>
                    </fields>
                </tim_complaint_group>
            </groups>
        </tim_complaint>
        <tim_sql_viev translate="label">
            <label>SQL View</label>
            <tab>tim_tab</tab>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <tim_sql_viev_group translate="label">
                    <label>SQL View</label>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <host translate="label">
                            <label>Host</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </host>
                        <login translate="label">
                            <label>Login</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </login>
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </password>
                        <db_name translate="label">
                            <label>DB name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </db_name>
                    </fields>
                </tim_sql_viev_group>
            </groups>
        </tim_sql_viev>
    </sections>
</config>