<!--@subject {{var order.getStoreGroupName()}}: Nowe zamówienie nr {{var order.increment_id}}{{var order.getCrmRecord()}} @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Magento"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p>
                        <strong>Witaj {{var order.getCustomerName()}}</strong>,                                              
                    </p>                       
                    <br/>
                    <p>{{var status}}</p>
                        {{depend order.getData('Tracking_link')}} 
                              <p>W związku z tym, że zamówiony towar został już przekazany kurierowi, trasę przebiegu przesyłki można śledzić na stronie {{var order.getData('Tracking_link')}}.
                                  Przed odbiorem towaru prosimy sprawdzić zawartość przesyłki w obecności kuriera (na podstawie art. 74 i art.76 ustawy „Prawo przewozowe”).</p>
                        {{/depend}}                        
                    <p>Dziękujemy,<br/><strong>{{var order.getStoreGroupName()}}</strong></p>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>